@font-face {
  font-family: 'wedding';
  src: url("/fonts/wedding-font.woff") format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #d7bcc6;
  color: #2e1b21;
  font-family: 'wedding';
}

a {
  color: #4e2e38;
}

* {
  box-sizing: border-box;
}
